@import '../_theme';

.send-money-card {
  max-width: 420px;
  margin: auto;
  text-align: center;

  .amount-item {
    margin-bottom: $paragraph-margin;

    input {
      max-width: 220px;
      text-align: center;
    }
  }

  .currency-item .ant-select {
    max-width: 120px;
    text-align: center;
  }
}

.add-money-card {
  max-width: 620px;
  margin: auto;
  text-align: center;
}

table.add-money-table {
  margin: auto;
  border-spacing: 5px;

  th, td {
    text-align: left;
    padding: 0 8px;
  }

  tr {
    border-bottom: 1px solid $separator-color;

    &:last-child {
      border-bottom: none;
    }
  }
}
