@import '../_theme';

#summary {
  .balances {
    font-weight: $font-light-weight;

    li:first-child {
      font-size: 2.125em;
    }

    li {
      font-size: 1.875em;
    }

    li:nth-child(n+2)::before {
      content: '+ ';
      color: transparentize($text-color, .5);
    }
  }

  .recent-activities {
    li {
      margin-bottom: $paragraph-margin;

      .head {
        display: flex;
      }

      .title {
        flex: 1;
      }

      .date {
        color: $text-color-secondary;
        margin-left: 1.25em;
      }
    }
  }
}
