@import '../_theme';

#summary {
  .balances {
    font-weight: $font-light-weight;

    li:first-child {
      font-size: 2.125em;
    }

    li {
      font-size: 1.875em;
    }

    li:nth-child(n+2)::before {
      content: '+ ';
      color: transparentize($text-color, .5);
    }
  }
}
