// From _antd.theme.js
$primary-color: #4669f7;
$text-color: rgba(0, 0, 0, 0.85);
$text-color-secondary: rgba(0, 0, 0, 0.7);
$screen-sm-min: 576px;

// Custom
$bg-color: #fff;
$separator-color: #e6e7e5;

$header-bg-color: #fff;
$header-height: 72px;
$footer-bg-color: #f7f5fa;

$container-margin: 16px;
$section-margin: 24px;
$paragraph-margin: .5em;
