// From _antd.theme.js
$primary-color: #4669f7;
$text-color: #000;
$text-color-secondary: rgba(0, 0, 0, 0.8);
$screen-sm-min: 576px;

// Custom
$bg-color: #fff;

$header-bg-color: #fff;
$header-height: 72px;

$footer-bg-color: #F7F5FA;

$container-margin: 16px;
$section-margin: 24px;
$paragraph-margin: .5em;
