@import '../_theme';

body:not(.is-loaded) #header {
  &, *, *::before, *::after {
    transition: none !important;
  }
}

#header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background: $header-bg-color;
  transition: background-color 0.33s linear, box-shadow 0.33s linear;
  @include mdElevation(4);

  &.header-top {
    background: transparent;
    box-shadow: none;
  }

  .navbar {
    height: $header-height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
  }

  .skeleton-menu {
    overflow: hidden;
    white-space: nowrap;

    > div {
      margin-left: 20px;
    }

    .ant-skeleton-button {
      width: 122px;
    }
  }

  .ant-menu {
    flex-grow: 1;
    min-width: 1px;
    text-align: right;

    background: transparent;
    border: none;
    margin-left: 25px;
    line-height: 1;

    a:hover, a:active {
      text-decoration: none;
    }
  }

  .ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu {
    border: none;
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
  }

  .ant-menu-horizontal > .ant-menu-submenu {
    padding: 0;

    .ant-menu-submenu-title {
      padding: 5px 10px;
    }
  }

  .ant-menu-horizontal > .ant-menu-item a {
    color: inherit;
  }

  .ant-menu-overflowed-submenu.ant-menu-submenu-selected:first-child {
    color: $text-color;
  }
}

body.ant-scrolling-effect > #header {
  // Fix width when a modal is open
  width: inherit;
}

#header-ph {
  height: $header-height;
}
