@import '../_theme';

html, body {
  background: $body-bg-color;
  height: auto; // antd set height to 100%, this is useless and cause bugs
}

body.ant-scrolling-effect .ant-modal-wrap {
  overflow-y: scroll !important; // always keep the modal scrollbar visible
}

.page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;

  > * {
    flex-shrink: 0;
    flex-basis: auto;
    max-width: 100%; // this fix strange bugs with antd tabs and flexbox containers
  }

  #main {
    flex-grow: 1;
  }
}

// Fix IE11 min-height flexbox bug (https://github.com/philipwalton/flexbugs#3-min-height-on-a-flex-container-wont-apply-to-its-flex-items)
//noinspection ALL
_:-ms-fullscreen, :root .page {
  height: 100vh;
}

// Fix IE11 flexbox bug with ant steps
_:-ms-fullscreen, :root .ant-steps-vertical {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-bold-weight;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.375em;
}

h3 {
  font-size: 1.125em;
}

p {
  margin-bottom: $paragraph-margin;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  &:active {
    text-decoration: underline;
  }

  &.silent-link {
    color: inherit;
  }
}

.text-center {
  text-align: center;
}

.flex-center {
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 $container-margin;
}

@mixin margin-preset($name, $property, $value) {
  .#{$name}-h {
    #{$property}-left: $value;
    #{$property}-right: $value;
  }

  .#{$name}-v {
    #{$property}-top: $value;
    #{$property}-bottom: $value;
  }

  .#{$name}-l {
    #{$property}-left: $value;
  }

  .#{$name}-t {
    #{$property}-top: $value;
  }

  .#{$name}-r {
    #{$property}-right: $value;
  }

  .#{$name}-b {
    #{$property}-bottom: $value;
  }

  .#{$name}-nb {
    #{$property}-bottom: -$value;
  }
}

@include margin-preset('sm', 'margin', $section-margin);
@include margin-preset('pm', 'margin', $paragraph-margin);

.ant-form .ant-form-item:last-child {
  margin-bottom: 0;
}
